/* General Styles */
body {
  background-color: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 20px;
  text-align: center;
}

/* Heading Styles */
h1,
h2 {
  color: #5D3891;
  margin: 0;
}

h1 {
  font-size: 4em;
  padding-top: 20vh;
  padding-bottom: 50px;
}

h2 {
  font-size: 3em;
  padding-top: 25px;
}

/* Text Styles */
.text-container,
p {
  color: #F99417;
  font-size: 3em;
  margin: 20px;
  padding-top: 25px;
  padding-bottom: 50px;
  text-align: center;
}

p {
  color: #5D3891;
  font-size: 2em;
  text-indent: 30px;
}

/* Footer Styles */
footer {
  color: #5D3891;
  font-size: 1.5em;
  text-align: center;
  padding-top: 200px;
}

/* Optional: Adjust spacing and sizing for different devices */
@media screen and (max-width: 800px) {
  h1 {
    font-size: 3em;
    padding-top: 20vh;
  }

  h2 {
    font-size: 1.5em;
    padding-top: 15px;
  }

  .text-container {
    font-size: 1.5em;
    margin: 10px;
    padding-top: 15px;
    padding-bottom: 25px;
  }

  /* Scale down the badge on mobile */
  .badge {
    width: 66px !important;
    height: 66px !important;
  }

  /* Center the lists on mobile */
  .row,
  .column {
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .column {
    flex-basis: 100%;
    padding-bottom: 40px;
  }
}

/* Badge Styles */
.badge {
  position: absolute;
  top: 34.5px;
  right: 34.5px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
}

.badge img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Menu Styles */
.menu {
  position: fixed;
  top: 0;
  right: -225px;
  width: 225px;
  height: 100%;
  padding-top: 146px;
  background-color: rgba(10, 9, 9, 0.85);
  z-index: 1;
  transition: right 0.5s;
}

.menu.show {
  right: 0;
}

.menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 3em;
}

.menu ul li a {
  color: #F99417;
  text-decoration: none;
}

.menu ul li a:hover {
  text-decoration: underline;
}

.menu .home-link {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

/* Global Styles */
* {
  caret-color: transparent;
}

/* Color of link text within paragraphs */
.container p a {
  color: #F99417;
  text-decoration: none;
}

.container p a:hover {
  text-decoration: underline;
}

/* Adjustments for the lists */
.row {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.column {
  justify-content: center;
  flex-basis: 100%;
  margin: 10px;
  list-style-type: none;
  padding-bottom: 40px;
}

.column li {
  padding: 10px;
  border: 2px solid #5D3891;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: larger;
  text-align: center;
}

.column li a {
  font-weight: bold;
  color: purple;
}

h4 {
  font-weight: lighter;
}

.orange {
  color: #F99417;
  text-align: center;
}

.column li img {
  width: 100px;
  height: 100px;
}
